html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
}

html body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {text-decoration: none;}

a:hover {text-decoration: underline;}

body nav {
    align-self: flex-end;
    padding: 6px 10px;
    display: flex;
    align-items: center;
}

.words-13px {
    font-size: 13px;
    color: rgba(0,0,0,0.87);
    font-family: arial, sans-serif;
}

nav #images {
    padding: 15px 15px;
}

nav #apps {
    padding: 5px 5px;
}

#apps:hover i {background-color: rgb(140 142 146 / 30%);}

#apps i {
    padding: 7px 7px;
    border-radius: 50%;
    opacity: .55;
    color: #000;
}

nav #profile {
    padding: 4px 4px;
}

#profile img {
    border-radius: 50%;
    padding: 4px 4px;
}

#profile:hover img {background-color: rgb(140 142 146 / 30%);}

body main {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 50px;
}

main form {padding: 20px;}

form #searchbar {
    width: 560px;
    height: 39px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    padding-top: 6px;
}

form #searchbar:focus-visible {outline: none;}

form #searchbar:hover {
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}

form #buttons {
    padding-top: 18px;
    display: flex;
    justify-content: center;
}

.forbuttons {
    margin: 11px 4px;
    padding: 0 16px;
    text-align: center;
    background-color: #f8f9fa;
    font-size: 14px;
    color: #3c4043;
    height: 36px;
    border: 1px solid #f2f2f2;
    border-radius: 4px
}

#buttons button:hover {
    border: 1px solid #c6c6c6;
    color: #202124;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

main #languages {
    position: relative;
    bottom: 15px;
}

#languages a {
    padding: 0 3px;
    color: #1a0dab;
    font-size: 13px;
    font-family: arial, sans-serif;
}

body footer {
    display: flex;
    flex-direction: column;
    background: #f2f2f2;
}

footer #country {
    color: rgba(0,0,0,.54);
    font-size: 15px;
    font-family: arial, sans-serif;
    padding: 15px 30px;
}

footer #footer {
    padding: 0px 20px;
    border-top: 1px solid #e4e4e4;
    display: grid;
    grid-template: auto / repeat(4, auto) 1fr repeat(3, auto);
    grid-template-areas: 
    "about adv business how . privacy terms settings";
}

#footer a {
    color: #5f6368;
    font-size: 14px;
    font-family: arial, sans-serif;
}

#footer #about {
    grid-area: about;
    padding: 15px;
}

#footer #adv {
    grid-area: adv;
    padding: 15px;
}

#footer #business {
    grid-area: business;
    padding: 15px;
}

#footer #how {
    grid-area: how;
    padding: 15px;
}

#footer #privacy {
    grid-area: privacy;
    padding: 15px;
}

#footer #terms {
    grid-area: terms;
    padding: 15px;
}

#footer #settings {
    grid-area: settings;
    padding: 15px;
}